<style>
	* {
	  background: #111 !important;
	}

	.card {
	  background: #222;
	  border: 1px solid #dd2476;
	  color: rgba(250, 250, 250, 0.8);
	  margin-bottom: 2rem;
	  border-radius: 3px;
	}
</style>
